#contact__a {
  .form-field {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "name subject"
      "e-mail phone"
      "message message"
      "button button";
  }

  .name {
    grid-area: name;
  }
  .e-mail {
    grid-area: e-mail;
  }
  .phone {
    grid-area: phone;
  }
  .subject {
    grid-area: subject;
  }
  .message {
    grid-area: message;
    height: 5rem;
  }

  .button {
    grid-area: button;
  }

  .input {
    padding: 0.6rem 0 0.6rem 0.2rem;
  }
}
