.main-nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 80px;
    height: 80px;
  }

  &__items {
    display: flex;

    li {
      padding: 1rem 1.5rem;
      &:first-child {
        display: none;
      }
      a {
        font-weight: 1.2rem;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        transition: border-bottom 2s;
        padding-bottom: 1rem;

        &:hover {
          border-color: $medium-color;
        }

        &.active {
          border-color: $primary-color;
        }
      }
    }
  }
}
#home {
  &__a {
    .skills {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      & i {
        color: $primary-color;
      }
    }
  }

  &__b {
    .box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 3rem;

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background-color: $light-color;
        }

        &:nth-child(even) {
          background-color: $medium-color;
        }
      }

      & i {
        color: $primary-color;
        padding-bottom: 1rem;
      }
      .title {
        font-size: 1.1rem;
        padding: 1rem auto;
      }
      .number {
        font-size: 2rem;
      }
    }
  }

  &__c {
    .item-steps {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      & div {
        font-weight: bold;
        margin-bottom: 3rem;
        font-size: 1rem;
        & .title {
          font-size: 1.3rem;
        }
      }
      & i {
        color: white;
        position: relative;
        background-color: black;
        border-radius: 50%;
        padding: 2rem;
        font-size: 3rem;
        margin-bottom: 1rem;
        transition: 1s all;

        &:hover {
          background-color: $primary-color;
          & .step-number {
            background-color: black;
          }
        }

        & .step-number {
          color: white;
          padding: 0.8rem;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 2rem;
          border-radius: 50%;
          background-color: $primary-color;
        }
      }
    }
  }
}
