// tables
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  #header {
    &__home {
      height: 30rem;

      .header-content {
        padding-top: 7rem;
      }
      h1 {
        font-size: 2.6rem;
        line-height: 1.5;
      }
    }
  }

  #home__b {
    .box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #home__c {
    .item-steps {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #projects__a .container .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

// mobile
@media (max-width: 576px) {
  .lead {
    padding: 0;
  }
  .container {
    margin: auto;
    padding: 1rem;
  }
  #header {
    &__home {
      height: 10rem;
      background-position: 20% 30%;
      .header-content {
        display: none;
      }
    }
    &__inner {
      height: 13rem;
    }
  }

  .main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }
  #home__a {
    .skills {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  #home__b {
    .box {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  #home__c {
    .item-steps {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  #main__footer {
    height: 8rem;
    padding: 1rem;
    .footer-content {
      flex-direction: column;
      height: 5rem;
    }
  }

  #about {
    &__a {
      .container {
        .info {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    &__c {
      .container {
        .logos {
          grid-template-columns: repeat(1, 1fr);
          gap: 0;
          margin-bottom: 1rem;
          .logo {
            width: 100%;
          }
        }
      }
    }
  }
  #projects__a .container .items {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact__a {
    .container {
      .form-field {
        grid-template-areas:
          "name "
          "subject"
          "e-mail "
          "phone"
          "message "
          "button ";
        gap: 1rem;
      }
    }
  }
}
