.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .item {
    font-size: 1rem;
    background-color: $light-color;
    position: relative;
    overflow: hidden;

    &__text__category {
      font-weight: bold;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: $primary-color;
      opacity: 0.8;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: translateX(-120%) translateY(-120%) rotate(45deg);
      transition: transform 0.5s linear;
    }

    &:hover::after {
      transform: scale(2) translateX(-50%) translateY(-50%) rotate(45deg);
      cursor: pointer;
    }
  }
}
