#header__home {
  background-image: url(../img/bg.jpeg);
  height: 100vh;
  width: 100%;
  color: white; }
  #header__home .header-content {
    text-align: center;
    padding-top: 30%; }
  #header__home h1 {
    font-size: 4rem;
    line-height: 1.2; }

#header__inner {
  background-color: #ccc;
  border-bottom: 2px solid #ef6d6d;
  height: 5.5rem;
  width: 100%;
  color: white; }

.container {
  margin: auto;
  padding: 0 1.4rem; }

.btn-primary,
.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.7rem 2rem;
  transition: all 5s;
  border: none;
  cursor: pointer; }

.btn-primary:hover, .btn-light:hover, .btn-dark:hover {
  color: black; }

.btn-primary {
  color: #333;
  background-color: #ef6d6d; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #fff;
  background-color: #333; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
button[input^="btn-"]:hover {
  background-color: #ef6d6d; }

.bg-primary {
  background-color: #ef6d6d; }

.bg-light {
  background-color: #f4f4f4; }

.bg-dark {
  background-color: #333; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.px-1 {
  padding: 0 1rem; }

.px-2 {
  padding: 0 2rem; }

.px-3 {
  padding: 0 3rem; }

.px-4 {
  padding: 0 4rem; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.mx-1 {
  margin: 0 1rem; }

.mx-2 {
  margin: 0 2rem; }

.mx-3 {
  margin: 0 3rem; }

.mx-4 {
  margin: 0 4rem; }

.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem auto; }

.text-center {
  text-align: center; }

.border-bottom {
  text-align: center;
  height: 3px;
  width: 3rem;
  background-color: #ef6d6d;
  margin: 1rem auto 2rem auto; }

.lead {
  word-spacing: 0.6rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 3rem auto;
  padding: 1.5rem 6rem; }

.skill-title {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold; }

.skill-text {
  font-size: 1rem;
  padding: 1rem auto;
  margin-bottom: 3rem;
  font-weight: bold; }

.container {
  padding: 0 10rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

img {
  width: 100%; }

.main-nav {
  display: flex;
  justify-content: space-between; }
  .main-nav__logo {
    width: 80px;
    height: 80px; }
  .main-nav__items {
    display: flex; }
    .main-nav__items li {
      padding: 1rem 1.5rem; }
      .main-nav__items li:first-child {
        display: none; }
      .main-nav__items li a {
        font-weight: 1.2rem;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        transition: border-bottom 2s;
        padding-bottom: 1rem; }
        .main-nav__items li a:hover {
          border-color: #ccc; }
        .main-nav__items li a.active {
          border-color: #ef6d6d; }

#home__a .skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }
  #home__a .skills i {
    color: #ef6d6d; }

#home__b .box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3rem; }
  #home__b .box div {
    padding: 3rem 0; }
    #home__b .box div:nth-child(odd) {
      background-color: #f4f4f4; }
    #home__b .box div:nth-child(even) {
      background-color: #ccc; }
  #home__b .box i {
    color: #ef6d6d;
    padding-bottom: 1rem; }
  #home__b .box .title {
    font-size: 1.1rem;
    padding: 1rem auto; }
  #home__b .box .number {
    font-size: 2rem; }

#home__c .item-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }
  #home__c .item-steps div {
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 1rem; }
    #home__c .item-steps div .title {
      font-size: 1.3rem; }
  #home__c .item-steps i {
    color: white;
    position: relative;
    background-color: black;
    border-radius: 50%;
    padding: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    transition: 1s all; }
    #home__c .item-steps i:hover {
      background-color: #ef6d6d; }
      #home__c .item-steps i:hover .step-number {
        background-color: black; }
    #home__c .item-steps i .step-number {
      color: white;
      padding: 0.8rem;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2rem;
      border-radius: 50%;
      background-color: #ef6d6d; }

.footer {
  background-color: black;
  color: white;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .social-media-icons {
    display: flex;
    color: white; }
    .footer .social-media-icons i {
      margin-right: 1rem;
      font-size: 2rem;
      border: 2px solid #fff;
      border-radius: 50%;
      text-align: center;
      padding: 0.6rem; }
      .footer .social-media-icons i:hover {
        background-color: #ef6d6d;
        transition: all 1s;
        color: black; }
  .footer .text {
    padding: 4rem; }

@media (max-width: 560px) {
  .container {
    padding: 0;
    width: 100%; }
  .main-nav__items li:not(:first-child) {
    display: none; }
  .main-nav__items li:first-child {
    display: inline-block; }
  #home__a .skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  #home__a .lead {
    word-spacing: 0.6rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    padding: auto 1rem; }
  #home__a .skill-text {
    padding: 1rem; }
  #home__b .box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  #home__c .item-steps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    #home__c .item-steps .text {
      padding: 0 1rem; }
    #home__c .item-steps .title {
      padding: 0 1rem;
      margin-bottom: 1rem; }
  .footer {
    height: 9rem;
    flex-direction: column;
    justify-content: center; }
    .footer .social-media-icons {
      padding: 2rem; }
      .footer .social-media-icons i {
        margin-right: 1rem;
        font-size: 1.5rem;
        padding: 0.4rem; }
    .footer .text {
      padding: 1.4rem; }
  #about__a .info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    #about__a .info .info-img {
      border: 2px solid #f4f4f4;
      padding: 1rem;
      border-radius: 4px; }
  #about__a .info__bio {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem; }
  #projects __a .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.1rem; } }

#about__a .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; }
  #about__a .info .info-img {
    border: 2px solid #f4f4f4;
    padding: 1rem;
    border-radius: 4px; }

#about__a .info__bio {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem; }

#about__b {
  color: white; }
  #about__b .progress-bar h4 {
    padding: 0.4rem; }
  #about__b .progress-bar .progress {
    border-radius: 5px;
    background-color: #ccc;
    height: 20px;
    margin-bottom: 0.8rem; }
    #about__b .progress-bar .progress div {
      background-color: #ef6d6d;
      height: 100%; }

#about__c .logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 3rem; }
  #about__c .logos .logo {
    width: 9rem;
    height: 8rem;
    padding: 2rem; }

#about__d .references ul {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center; }

#about__d .references p {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem; }

#about__d .references img {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

#contact__a .table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; }
  #contact__a .table .enter-message {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;
    padding: 3rem 1rem; }
  #contact__a .table input {
    padding: 1rem; }
  #contact__a .table button {
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
    font-weight: bold; }

#contact__a .contact-items {
  margin-top: 3rem;
  color: #fff;
  background-color: #ef6d6d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem; }

body {
  height: 100vh; }

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; }
  .items .item {
    font-size: 1rem;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden; }
    .items .item__text__category {
      font-weight: bold; }
    .items .item::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #ef6d6d;
      opacity: 0.8;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: translateX(-120%) translateY(-120%) rotate(45deg);
      transition: transform 0.5s linear; }
    .items .item:hover::after {
      transform: scale(2) translateX(-50%) translateY(-50%) rotate(45deg);
      cursor: pointer; }
